:root {
  --accent-color: #2196f3;
  --txt-color: #757575;
  --secondary-bg: #f5f4fa;
  --primary-bg: #e5e5e5;
  --ftr-bg: #2f303a;
  --title-txt-color: #212121;
  --icon-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--secondary-bg);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.txt {
  font-weight: 400;
  font-size: 14px;
  color: var(--txt-color);
}

.menu-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-txt-color);
}

.menu-txt:hover,
.menu-txt:focus {
  color: var(--accent-color);
}

.section-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--title-txt-color);
  margin-bottom: 50px;
}

.btn {
  width: 120px;
  height: 38px;
  background-color: var(--primary-bg);
  border: 0;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-bg);
}

.icon {
  fill: var(--icon-color);
}

/* 
 HEADER 
 */

.main-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 215px;
  padding-right: 215px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bg);
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 1200px;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
}

.menu-txt {
  padding: 20px;
  position: relative;
}

.cotact-item .menu-txt {
  padding: 20px 10px;
}

.menu-txt::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--accent-color);
  scale: 0;
  transition: 250ms;
}

.menu-txt:hover::after {
  scale: 1;
}

.contacts {
  display: flex;
}

.cotact-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.cotact-item:last-child {
  margin-right: 0;
}

.contact-icon {
  width: 14px;
  height: 14px;
}

/* 
HERO 
*/

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 100px;
  background-color: var(--ftr-bg);
  background-image: url(../img/Img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1680px;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}

.hero-btn {
  display: block;
  min-width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--secondary-bg);
  border-radius: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 320px;
  height: 300px;
  background-color: var(--secondary-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn {
  /* position: absolute;
  top: 0;
  right: 0;
  transform: translate(-16px, 16px); */
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.modal-icon {
  width: 18px;
}

/* 
ABOUT
*/
.about {
  margin-bottom: 100px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.about-list {
  display: flex;
}

.about-list--item {
  width: 270px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms;
}

.about-list--item:hover {
  scale: 1.02;
}

.about-list--item:hover .about-icon {
  fill: var(--accent-color);
}

.about-list--item:not(:last-child) {
  margin-right: 30px;
}

.about-list--heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.about-list--descr {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}

.about-icon-container {
  width: 270px;
  height: 120px;
  background-color: var(--primary-bg);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.about-icon {
  display: block;
  fill: var(--title-txt-color);
  width: 100%;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
}

/* 
What we do
*/

.wwd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.wwd-overlay {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
}

.wwd-txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-bg);
}

.wwd--list-item {
  position: relative;
}

/* 
TEAM
*/

.team {
  background-color: var(--primary-bg);
  padding-top: 100px;
  padding-bottom: 100px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.team-list--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list--link {
  position: relative;
  padding: 4px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms;
}

.social-list--link:hover {
  background-color: var(--accent-color);
}

.social-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 28px;
  height: 28px;

  transition: 250ms;
}

.social-icon:hover {
  scale: 1.1;
  fill: var(--secondary-bg);
}

.customers {
  padding-top: 90px;
  padding-bottom: 90px;
}
.customers .container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.customers-list {
  display: flex;
}

.customers-list--item {
  position: relative;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms;
}

.customers-list--item:not(:last-child) {
  margin-right: 30px;
}

.customers-list--item:hover {
  scale: 1.1;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.customers-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customers-icon:hover {
  fill: var(--accent-color);
}

.ftr {
  background-color: var(--ftr-bg);
  height: 250px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
}

.ftr .container {
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.adress-container {
  margin-right: 70px;
}
.adress-container .logo {
  margin-bottom: 8px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-bg);
}

.menu-txt-ftr {
  color: var(--primary-bg);
}

.ftr-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-bg);
  margin-bottom: 20px;
}

.ftr-social--list {
  display: flex;
}

.ftr-social--list--item:not(:last-child) {
  margin-right: 10px;
}

.ftr-social--list--item .social-list--link {
  background-color: var(--txt-color);
}

.ftr-social--list--item .social-list--link:hover {
  background-color: var(--accent-color);
}

.ftr-icon {
  fill: var(--secondary-bg);
}

/* 
Portfolio
*/

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: var(--secondary-bg);
}

.portfolio-menu--item {
  margin-right: 8px;
}

.portfolio {
  padding-bottom: 100px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-list--item {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  margin-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio-list--item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list--item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
